#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav ul li ul{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}
@-ms-viewport{width:device-width;}
@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}
@media screen and (max-width:900px){
	.hoc{max-width:90%;}
	#header{padding:30px 0;}
	#header #logo{margin:0;}
	#mainav{}
	#mainav ul{display:none;}
}
@media screen and (max-width:750px){
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, 
	.three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}
	#header{text-align:center;}
	#header #logo{margin-bottom:15px;}
}